.categories{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.category-form{
    display: flex;
    gap: 20px;
}

.categories-list{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.box {
    background-color: rgba(217, 217, 217, 0.5);
    padding: 30px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 400px;
    min-height: 200px;
}

.category-name{
    background-color: #D0D0D0;
    padding: 5px;
}

.list-element{
    background-color: white;
    padding: 5px 10px;
    width: 100%;
}

.subcategories{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex-gap{
    display: flex;
    gap: 40px;
}

.actions{
    gap: 10px;
    display: flex;
}

.icon{
    color: rgba(0, 0, 0, 0.61);
}

.icon:hover{
    cursor: pointer;
    color: sandybrown;
}

.add-btn{
    background-color: transparent;
    color: rgb(255, 150, 58);
    border: none;
}

.add-btn:hover{
    color: rgb(163, 81, 22);
    cursor: pointer;
}