.categories {
    width: 100%;
    padding-left: 40px;
}

.c-content {
    display: flex;
    padding-top: 40px;
    gap: 10px;
}

.left-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-container {
    width: 70%;
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-title {
    color: var(--text);
    border-bottom: 1px solid var(--bars);
    font-weight: 300;
    padding-bottom: 5px;
    font-size: 15px;
}


.box {
    background-color: var(--boxes);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categories-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.element-box {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    position: relative;
}

.save-input {
    color: black;
    width: 50px;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.edit-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gap{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.save-btn{
    background-color: sandybrown;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.save-btn:hover{
    cursor: pointer;
}

.delete-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 70px;
    height: 70px;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.edit-icon-container{
    padding: 5px;
}

.edit-icon-container:hover{
background-color: rgb(202, 202, 202);
border-radius: 30px;
cursor: pointer;
}
